<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
   {% load static %}
   <link rel="stylesheet" href="{% static 'tute.css' %}" >
  

</head>
<body>
   
<div class="container">

   <div class="main-video-container">
      <video src="{% static 'images/A.mov' %}" loop controls class="main-video"></video>
      <h3 class="main-vid-title">How to say alphabet A?</h3>
   </div>

   <div class="video-list-container">

      <div class="list active">
         <video src="{% static 'images/A.mov' %}" class="list-video"></video>
         <h3 class="list-title">How to say alphabet A?</h3>
      </div>

     <div class="list">
         <video src="{% static 'images/B.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say alphabet B?</h3>
      </div>


      <div class="list">
         <video src="{% static 'images/C.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say alphabet C?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/D.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say alphabet D?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/E.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say alphabet E?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/F.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say alphabet F?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/G.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say alphabet G?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/H.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say alphabet H?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/I.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say alphabet I?</h3>
      </div>

      <div class="list">
        <video src="{% static 'images/J.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet J? <h3>
     </div>

     <div class="list">
        <video src="{% static 'images/K.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet K? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/L.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet L? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/M.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet M? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/N.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet N? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/O.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet O? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/P.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet P? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/Q.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet Q? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/R.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet R? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/S.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet S? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/T.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet T? <h3>
     </div>

     <div class="list">
        <video src="{% static 'images/U.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet U? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/V.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet V? <h3>
     </div>

     <div class="list">
        <video src="{% static 'images/W.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet W? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/X.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet X? <h3>
     </div>
     <div class="list">
        <video src="{% static 'images/Y.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet Y? <h3>

     </div>
     <div class="list">
        <video src="{% static 'images/Z.mov' %}"  class="list-video"></video>
        <h3 class="list-title">How to say alphabet Z? <h3>
     </div>
   </div>

</div>


<script src="{% static 'tute.js' %}"> </script>


</body>
</html>