
<!DOCTYPE html>
<html lang="en">

  <head>
    
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
  
     
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="images/favicon/apple-touch-icon.png">
    
    <!-- All CSS Plugins -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'article.css' %}" >
    <link rel="stylesheet" href="{% static 'plugin.css' %}" >
    <link rel="stylesheet" href="{% static 'sidebar.css' %}" >

  
       
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    
    
  </head>

 <body>

  <div class="sidebar">
    <div class="logo-details">
     
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
     
     
      <li>
       <a href="/">
        
         <i class=' bx bxs-home'></i>
         <span class="links_name">Dashboard</span>
       </a>
       <span class="tooltip">Dashboard</span>
     </li>
     <li>
       <a href="/Courses">
         <i class=' bx bx-layer' ></i>
         <span class="links_name">Courses</span>
       </a>
       <span class="tooltip">Courses</span>
     </li>
     <li>
      
     <li>
       <a href="/MotionDetection">
         <i class='bx bx-edit-alt' ></i>
         <span class="links_name">Accuracy Test</span>
       </a>
       <span class="tooltip">Accuracy Test</span>
     </li>
         <li>
       <a href="/ChooseArticle">
         <i class='bx bx-book-open' ></i>
         <span class="links_name">Read & Learn</span>
       </a>
       <span class="tooltip">Read & Learn</span>
     </li>

     
    
    </ul>
  </div>
  <section class="home-section">
    <div id="main">
      <div class="container">
          <div class="row">
                    
                         
                           
              
               
               <!-- Blog Post (Right Sidebar) Start -->
               <div class="col-md-9">
                  <div class="col-md-12 page-body">
                    <div class="row">
                      
                          
                          <div class="sub-title">
                             <h2>BASICS OF INDIAN SIGN LANGUAGE</h2>
                              
                           </div>
                          
                          
                          <div class="col-md-12 content-page">
                            
                              
                              <!-- Blog Post Start -->
                              <div class="col-md-12 blog-post">
                                  <div class="post-title">
                                    <a href="single.html"><h1>What do mean by the term Sign Language?</h1></a>
                                  </div>  
                                  <div class="post-info">
                                    <span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>
                                  </div>  
                                  <p>SIGN LANGUAGE, INDIAN, also known as Plains Sign Talk, an intertribal language of gestural signs used by American Indians of the Great Plains region. Although origins remain obscure, Spanish explorers documented its use on the southern Plains during the sixteenth century. Extensive trade networks and political alliances brought tribes who spoke many different languages into regular contact with each other. Vocal communication was difficult and people probably maximized the panhuman tendency to resort to gestures in such contexts. Over time, such gestures were conventionalized into a language with a unique visual vocabulary and spatial grammar.

                                  </p>                          			
                                  <a href="single.html" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
                              </div>
                              <!-- Blog Post End -->
                              
                              
                              
                              <!-- Blog Post Start -->
                              <div class="col-md-12 blog-post">
                                  <div class="post-title">
                                    <a href="single.html"><h1>How to design elegant e-mail newsletter in html for wish christmas to your subscribers?</h1></a>
                                  </div>  
                                  <div class="post-info">
                                    <span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>
                                  </div>  
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.</p>
                                  <a href="single.html" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
                              </div>
                              <!-- Blog Post End -->
                              
                              
                              
                              <!-- Blog Post Start -->
                              <div class="col-md-12 blog-post">
                                <div class="post-image">
                                    <img src="images/blog/1.jpg" alt="">                                       
                                  </div> 
                                  <div class="post-title">
                                    <a href="single.html"><h1>Make mailchimp singup form working with ajax using jquery plugin</h1></a>
                                  </div>  
                                  <div class="post-info">
                                    <span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>
                                  </div>  
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.</p>                          			
                                  <a href="single.html" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
                              </div>
                              <!-- Blog Post End -->
                              
                              
                              
                              <!-- Blog Post Start -->
                              <div class="col-md-12 blog-post">
                                  <div class="post-title">
                                    <a href="single.html"><h1>Develop a custom wordpress membership plugin from scratch using framework on localhost - part 1</h1></a>
                                  </div>  
                                  <div class="post-info">
                                    <span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>
                                  </div>  
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.</p>                          			
                                  <a href="single.html" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
                              </div>
                              <!-- Blog Post End -->
                              
                              
                              
                              <!-- Blog Post Start -->
                              <div class="col-md-12 blog-post">
                                  <div class="post-title">
                                    <a href="single.html"><h1>How to customize a wordpress theme entirely from scratch using a child theme?</h1></a>
                                  </div>  
                                  <div class="post-info">
                                    <span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>
                                  </div>  
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.</p>                          			
                                  <a href="single.html" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
                              </div>
                              <!-- Blog Post End -->
                              
                              
                              
                              <!-- Blog Post Start -->
                              <div class="col-md-12 blog-post">
                                <div class="post-image">
                                    <img src="images/blog/2.jpg" alt="">                                       
                                  </div> 
                                  <div class="post-title">
                                    <a href="single.html"><h1>What makes wordpress a unique and highly customizable platform from competitors?</h1></a>
                                  </div>  
                                  <div class="post-info">
                                    <span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>
                                  </div>  
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.</p>                          			
                                  <a href="single.html" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
                              </div>
                              <!-- Blog Post End -->
                              
                              
                              
                              <!-- Blog Post Start -->
                              <div class="col-md-12 blog-post">
                                  <div class="post-title">
                                    <a href="single.html"><h1>What mistakes every beginner make, when they make website using bootstrap?</h1></a> 
                                  </div>  
                                  <div class="post-info">
                                    <span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>
                                  </div>  
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.</p>                          			
                                  <a href="single.html" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
                              </div>
                              <!-- Blog Post End -->
                              
                              
                              
                              </div>
                              
                           </div>
                            
                       </div>
                       
                      
                      
                   
                         
                       </div>
                   
                   
                     <!-- Footer Start -->
                     <div class="col-md-12 page-body margin-top-50 footer">
                        <footer>
                      
                          
                        <p>© Copyright 2022 Sign-L. All rights reserved</p>
            
            
          
                         
                       </footer>
                     </div>
                                         
                   
          </div>
          </div>
       </div>
    </div>
  
  </section>
     
   
    


 
    <script src="{% static 'jquery.min.js' %}"> </script>
    <script src="{% static 'plugin.js' %}"> </script>
    <script src="{% static 'scripts.js' %}"> </script>
    <script src="{% static 'sidebar.js' %}"> </script>
    <script src="{% static 'tute.js' %}"> </script>

  
    

    
   </body>
 </html>
