
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     {% load static %}
     <link rel="stylesheet" href="{% static 'sidebar.css' %}" >
     <link rel="stylesheet" href="{% static 'ChooseArticle.css' %}" >
     
   
  </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
     
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
     
     
      <li>
       <a href="/">
        
         <i class=' bx bxs-home'></i>
         <span class="links_name">Dashboard</span>
       </a>
       <span class="tooltip">Dashboard</span>
     </li>
     <li>
       <a href="/Courses">
         <i class=' bx bx-layer' ></i>
         <span class="links_name">Courses</span>
       </a>
       <span class="tooltip">Courses</span>
     </li>
     <li>
      
     <li>
       <a href="/MotionDetection">
         <i class='bx bx-edit-alt' ></i>
         <span class="links_name">Accuracy Test</span>
       </a>
       <span class="tooltip">Accuracy Test</span>
     </li>
         <li>
       <a href="/ChooseArticle">
         <i class='bx bx-book-open' ></i>
         <span class="links_name">Read & Learn</span>
       </a>
       <span class="tooltip">Read & Learn</span>
     </li>

     
    
    </ul>
  </div>

  <section class="home-section">
   
    <div class="table-box">
      <div class="table-row table-head">
          <div class="table-cell first-cell">
              <p>ARTICLE TITLE</p>
          </div>
          <div class="table-cell">
              <p>TOPIC CONCERNED</p>
          </div>
          <div class="table-cell last-cell">
              <p>READ HERE</p>
          </div> 
      </div>


      
      <div class="table-row">
        <div class="table-cell first-cell">
            <p>No</p>
        </div>
        <div class="table-cell">
            <p>Intermediate</p>
        </div>
        <div class="table-cell last-cell">
            <a href="/Article">Learn Now</a>
        </div>
    </div>
   
<div class="table-row">
  <div class="table-cell first-cell">
      <p>Help</p>
  </div>
  <div class="table-cell">
      <p>Intermediate</p>
  </div>
  <div class="table-cell last-cell">
      <a href="https://www.youtube.com/watch?v=lacpTQuE9u8">Learn Now</a>
  </div>
</div>
<div class="table-row">
  <div class="table-cell first-cell">
      <p>God</p>
  </div>
  <div class="table-cell">
      <p>Intermediate</p>
  </div>
  <div class="table-cell last-cell">
      <a href="https://www.youtube.com/watch?v=lacpTQuE9u8">Learn Now</a>
  </div>
</div>
<div class="table-row">
    <div class="table-cell first-cell">
        <p>God</p>
    </div>
    <div class="table-cell">
        <p>Intermediate</p>
    </div>
    <div class="table-cell last-cell">
        <a href="https://www.youtube.com/watch?v=lacpTQuE9u8">Learn Now</a>
    </div>
  </div>
<div class="table-row">
  <div class="table-cell first-cell">
      <p>Food</p>
  </div>
  <div class="table-cell">
      <p>Intermediate</p>
  </div>
  <div class="table-cell last-cell">
      <a href="https://www.youtube.com/watch?v=lacpTQuE9u8">Learn Now</a>
  </div>
</div>
<div class="table-row">
  <div class="table-cell first-cell">
      <p>Bathroom</p>
  </div>
  <div class="table-cell">
      <p>Intermediate</p>
  </div>
  <div class="table-cell last-cell">
      <a href="https://www.youtube.com/watch?v=lacpTQuE9u8">Learn Now</a>
  </div>
</div>

  
      <div class="table-row">
          <div class="table-cell first-cell">
              <p>How</p>
          </div>
          <div class="table-cell">
              <p>Intermediate</p>
          </div>
          <div class="table-cell last-cell">
              <a href="https://www.youtube.com/watch?v=4cr85kvM8I0">Learn Now</a>
          </div>
      </div>
</div> 
    </section>

    <script src="{% static 'sidebar.js' %}"> </script>
    

  </body>

  </html> 
