<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
   {% load static %}
   <link rel="stylesheet" href="{% static 'tute.css' %}" >
  

</head>
<body>
   
<div class="container">

   <div class="main-video-container">
      <video src="{% static 'images/Green.mov' %}" loop controls class="main-video"></video>
      <h3 class="main-vid-title">How to say color Green?</h3>
   </div>

   <div class="video-list-container">

      <div class="list active">
         <video src="{% static 'images/Green.mov' %}" class="list-video"></video>
         <h3 class="list-title">How to say color Green?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/Black.mov' %}" class="list-video"></video>
         <h3 class="list-title">How to say color Black?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/Orange.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say color Orange?</h3>
      </div>


      <div class="list">
         <video src="{% static 'images/Blue.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say color Blue?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/Brown.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say color Brown?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/Red.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say color Red?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/Pink.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say color Pink?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/Yellow.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say color Yellow?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/Grey.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say color Grey?</h3>
      </div>

      <div class="list">
         <video src="{% static 'images/White.mov' %}"  class="list-video"></video>
         <h3 class="list-title">How to say color White?</h3>
      </div>

   </div>

</div>


<script src="{% static 'tute.js' %}"> </script>


</body>
</html>